# Generated settings:
shareComment="system data"
shareInclude="disk1"
shareExclude=""
shareUseCache="prefer"
shareCachePool="cache"
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel="1"
shareFloor="48800000"
shareExport="-"
shareCaseSensitive="auto"
shareSecurity="public"
shareReadList=""
shareWriteList=""
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="0"
shareSecurityNFS="public"
shareHostListNFS=""
